<!DOCTYPE html>

<html lang="en">

<head>
  <title>Coding Assassin</title>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1\
.0">
  <link rel="stylesheet" href="/static/style.css" type="text/css" media="all">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/\
1.7.2/jquery.min.js">
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html> 
